

#gif-form{

    float: right;
    margin-top: 2%;
    margin-right: 25px;

}

#gif-button{
    border-radius: 5px;
}

#gif-button:hover{

    background-color: rgba(82, 157, 192, 0.719);
}

#button-container{

    width: 65%;
    margin-bottom: 15px;

}

#gif-container{

    width: 65%;

}

.divImage{

    float: left;
    margin: 15px;

}

.gifButton{

    margin: 2px;
    border-radius: 5px;
}

.gifButton:hover{

    background-color: rgba(82, 192, 187, 0.719);
}


#formLabel{

    display: block;
    margin-bottom: 0.25rem;
}

#gif-input{

    margin-bottom: 0.25rem;

}

